<html>
<head>
    <title>Saucelabs Tests Summary</title>
    <style type="text/css">
        div.sauce-column {
            float: left;
            margin: 0 2% 2em 0;
            width: 48%;
        }

       div.sauce-column:last-child {
            margin: 0 0 2em 2%;
       }

        a.video-link img {
            max-width: 100%;
        }

        table {
            max-width: 100%;
            font-size: 10px;
        }

        tr.logEntry td {
            padding: 0.5em;
            text-align: left;
            }

        div.result {
            margin-left:1em; margin-bottom: 0.2em; font-size: 100%; color: #666;
            text-align:right;
            font-size:90%;
            padding-top:8px;
            color:#909;
            }

        .success {background-color: #8FDF5F}
        .failure {background-color: #F99}
        iframe { border: 0; height: 900px !important; margin-bottom: 1em; width: 100% !important; background-color: #fff; }

    </style>
    <link rel="stylesheet" href="/default.css" type="text/css" />
</head>
<body class="interface">
    <h1>Saucelabs Tests Summary</h1>

    <h2>Tests</h2>
{% for test in tests %}
    <ul>
        <li>
          <a href="#{{ test.id }}">{{ test.test }}</a> - {{ test.error }}
        </li>
    </ul>
{% endfor %}

{% for test in tests %}

    <h2><a name="{{ test.id }}">{{ test.test }}</a></h2>

    <div class="content">

    <p>Test outcome: {{ test.error }}; Test log: <a target="_blank" href="{{test.selenium_log}}">[Log]</a>;</p>

    {% if test.traceback %}
    <pre>{{ test.traceback }}</pre>
    {% endif %}

    <script type="text/javascript" src="https://saucelabs.com/job-embed/{{ test.session }}.js?auth={{ test.token }}"></script>

    <div class="sauce-column">
        <a class="video-link" href="{{test.video_flv}}"><img src="{{test.last_screenshot}}"></a>
    </div>

    <div class="sauce-column">
    <table>
    {% for result in test.results %}
        {% if result.result == "OK" %}
        <tr class="logEntry success">
        {% else %}
        <tr class="logEntry failure">
        {% endif %}
            <td class="commandDetails">
                {% if result.screenshot != None %}
                <a href="{{ result.screenshot }}" class="screenshot-link" rel="screenshots{{ test.id }}">{{ result.command }}</a>
                {% else %}
                {{ result.command }}
                {% endif %}
                <div class="result">{{ result.retval if result.retval != None else '' }}</div>
            </td>
        </tr>
    {% endfor %}
    </table>
    </div>

    <br style="clear: both;" />

    </div>
{% endfor %}
</body>
</html>
